* {
    line-height: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
/*background color of entire site*/
}
body { 
    background-color: lightgray;
}
/*style for the nav ul section of the links */
nav ul {
    list-style-type: none;
    background-color: lightgray;
    font-size: 25px;
  }

/* spacing for the bootstrap grid */
a img {
    width:100%;
    height: 60%;
}
/* spacing for the coding picture */
.center {
    width: 100%;
    height: 20%;

}
/* removes the dots for the nav links  */
ul li a {
    list-style-type: none;
}

a {
    color: rgb(167, 104, 23);
   text-decoration: none;
 }

/*style and color for for the links*/
li a {
     display: flex;
    flex-direction: row;
    color: rgb(167, 104, 23);
    padding: 4px 16px;
    text-decoration: none;
  }
/* the hover action for the links */
li a.active {
    background-color:rgb(43, 114, 158);
    color: white;
  }
/* when hovered over  */
li a:hover:not(.active) {
    background-color: gray;
    color: white;
  }
  /* removes styling for bottom links  */
li {
    /* display: flex;
    flex-direction: row; */
    list-style-type: none;
}
/*  centered, coloring and gives space to the headings*/
h1 {
    display: flex;
    justify-content: center;
    color: rgb(43, 114, 158);
    font-size: 40px;
}
/*  centered, coloring and gives space to the headings*/
h2  {
    display: flex;
    justify-content: center;
    color: rgb(43, 114, 158);
    margin: 1%;
    border: 1%;
    padding: 1%;
}
/*coloring and gives space to the headings*/
h4 {
    color: rgb(43, 114, 158);
    margin: 1%;
    border: 1%;
    padding: 1%;
}
/*used to color the than of nathan */
.than {
    color: rgb(167, 104, 23);

}
/*used to color the mann of wichmann*/
.mann  {
    color: rgb(167, 104, 23);
}
/*used to change the color and size of hello world*/
.hello {
    color: rgb(43, 114, 158);
    font-size: 25px;

}
/* used to style the about me paragraph*/
p {
    display:inline-block;
    color: rgb(167, 104, 23);  
    font-size: 20px;
    border: 2%;
    padding: 2%; 
}

/*section of recent work*/
.work {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: space-around;
    margin: 1%;
    padding: 1%;
}

ul .nav {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   
    

}
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   
    
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
    
} 
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   
    
} 
  
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    

}


